*body{
    margin: 0;
    padding: 0;
}

.contendor{
    display: flex;
    flex-wrap: wrap;
    gap: 50px;

}
.personajes{
    border:solid 2px black;
    background-color: rgb(173, 173, 248);
    border-radius: 10px;
}
img{
    border-radius: 10px;
}